:root {
  --main-bg-color: #f1f1f1;
  --main-bg-color-dark: #aaa;
  --header-bg-color: #1d2d60;
  --text-color-light: #fff;
  --text-color-dark: #333;
  --label-bg-done: #40cee2;
  --label-bg-in-progress: #ffbc47;
  --label-bg-review: #f65e5d;
  --label-bg-todo: #19bd03;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--main-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label {
  top: 0;
  left: 0;
  display: block;
  font-size: 1em;
  line-height: 1;
  padding: 0.5em;
  margin: 0 auto 0.5em auto;
  border-radius: 2px;
  background-color: #f1f1f1;
  user-select: none;
}
